#  compilated code
*.pyc
__pycache__
.vscode
# rendered videos and presentations
*.mp4
*.pptx
# media folder
presentations
media
slides
*_assets
# Scripts
renumber_slides.py
crop_images.py
Video_player_app.py
# Latex output
*.aux
*.log
*.dvi
*.pdf